html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;
}

.container {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 40px 0;
}

.title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #1a2b4c;
  text-align: center;
}

/* Cards centralizados em coluna */
.main-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* Card padrão */
.card {
  background: white;
  border-radius: 20px;
  padding: 35px;
  width: 520px;
  border: 3px solid #1a2b4c;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
}

/* Lista */
.patient-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.patient-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafc;
  border-radius: 12px;
  padding: 15px;
  margin-top: 12px;
  border: 1px solid #dce3f0;
}

.actions {
  display: flex;
  gap: 10px;
}

/* Botões da lista */
.btn-edit {
  background: #ffc107;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-delete {
  background: #dc3545;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.btn-edit:hover,
.btn-delete:hover {
  opacity: 0.85;
}
